transformers
torch
pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
streamlit
prophet
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.5.0/ru_core_news_sm-3.5.0.tar.gz
tqdm
snscrape
langdetect
google-api-python-client
pymongo
xhtml2pdf
jinja2
tweepy
tqdm
